{% extends 'base.html.twig' %}

{% block title %}ADMIN ARTICLE INDEX
{% endblock %}

{% block body %}
	<style>
		.styled-title {
			font-family: 'Poppins', sans-serif;
			font-size: 2.5vw;
			text-align: center;
			font-weight: 900;
			/* background-clip: border-box; */
			/* background-image: url("../uploads/sea.jpg"); */
			/* -webkit-text-fill-color: transparent; */
			/* -webkit-background-clip: text; */
		}
	</style>
	<h1 class="styled-title fit-content pt-4 pb-3">ADMIN ARTICLE INDEX</h1>

	{% include "include/allArticles.html.twig" %}

	<a href="{{ path('app_admin_article_new') }}">Create new</a>
{% endblock %}
